main
  section.pictureBio
    .container
      .row
        .col-12.text-center
          h1 BIOGRÁFIA
      .row
        .col-12.col-md-6
          img(src='/src/app/img/profile01.jpg', alt='profilkep', style='width:450px;height:500px')
        .col-4
          h3#personalDatas Személyes
          hr
          p Név: Ertsey Réka
          p Szül: Keszthely, 1988. november 26.
          p Foglalkozás: YellowRoad Student
          p Hobbi: Vívás, olvasás, filmek, kutyák
          br
  section.studyWork
    .container
      .row
        .col-12
          h3#studies Tanulmányok és szakmai tapasztalatok
          hr
          p
            i.fas.fa-graduation-cap
            |             Középiskolai tanulmányaimat 2003-ban kezdtem a keszthelyi Vajda János Gimnázium nyelvi tagozatán, ahol emelt óraszámban angol
            |             és német nyelvet tanultam.
          p
            i.fas.fa-graduation-cap
            |             Az érettségit követően 2007 szeptemberében az Eötvös Lorán Tudományegytem informatikus könyvtáros szakán folytattam elmém
            |             csiszolását, amelynek következtében 2007-ben alapszakon, 2010-ben mesterszakon vehettem át diplomámat.
          p
            i.fas.fa-building
            |             Az egyetem után 2012 októberétől, maradva a megszokott ELTE-s környezetben, az ELTE Bárczi Gusztáv Gyógypedagógiai Kar Könyvtárában
            |             helyezkedtem el feldolgozó és olvasószolgálatos könyvtárosként.
          p
            i.fas.fa-building
            |             2016 januárjában, végleg búcsút intve az egyetemi közegnek, a Központi Statisztikai Hivatal Gyűjteményszervezői Főosztályán
            |             folytattam könyvtárosi tevékenységemet.
          p
            i.fas.fa-building
            |             2016 december 1-jétől nagy váltás következett, a Miniszterelnökség Közbeszerzési Felügyeletért Felelős Helyettes Államtitkárságán
            |             nyilvántartási referensként belekóstoltam a hivtali életbe is.
          p
            i.fas.fa-graduation-cap
            i.fas.fa-building
            |             2016-ban felvételt nyertem a Yellow Road junior szoftverfejlesztő képzésére, ahol a webfejlesztés rejtelmes mélységeibe kapok
            |             betekintést.
