<main>
  <section class="pictureBio">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>BIOGRÁFIA</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="/src/app/img/profile01.jpg" alt="profilkep" style="width:450px;height:500px">
        </div>
        <div class="col-4">
          <h3 id="personalDatas">Személyes</h3>
          <hr>
          <p>Név: Ertsey Réka</p>
          <p>Szül: Keszthely, 1988. november 26.</p>
          <p>Foglalkozás: YellowRoad Student</p>
          <p>Hobbi: Vívás, olvasás, filmek, kutyák</p>
          <br>
        </div>
      </div>
    </div>
  </section>
  <section class="studyWork">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 id="studies">Tanulmányok és szakmai tapasztalatok</h3>
          <hr>
          <p>
            <i class="fas fa-graduation-cap"></i>
            Középiskolai tanulmányaimat 2003-ban kezdtem a keszthelyi Vajda János Gimnázium nyelvi tagozatán, ahol emelt óraszámban angol
            és német nyelvet tanultam.</p>
          <p>
            <i class="fas fa-graduation-cap"></i>
            Az érettségit követően 2007 szeptemberében az Eötvös Lorán Tudományegytem informatikus könyvtáros szakán folytattam elmém
            csiszolását, amelynek következtében 2007-ben alapszakon, 2010-ben mesterszakon vehettem át diplomámat.</p>
          <p>
            <i class="fas fa-building"></i>
            Az egyetem után 2012 októberétől, maradva a megszokott ELTE-s környezetben, az ELTE Bárczi Gusztáv Gyógypedagógiai Kar Könyvtárában
            helyezkedtem el feldolgozó és olvasószolgálatos könyvtárosként.</p>
          <p>
            <i class="fas fa-building"></i>
            2016 januárjában, végleg búcsút intve az egyetemi közegnek, a Központi Statisztikai Hivatal Gyűjteményszervezői Főosztályán
            folytattam könyvtárosi tevékenységemet.</p>
          <p>
            <i class="fas fa-building"></i>
            2016 december 1-jétől nagy váltás következett, a Miniszterelnökség Közbeszerzési Felügyeletért Felelős Helyettes Államtitkárságán
            nyilvántartási referensként belekóstoltam a hivtali életbe is.</p>
          <p>
            <i class="fas fa-graduation-cap"></i>
            <i class="fas fa-building"></i>
            2016-ban felvételt nyertem a Yellow Road junior szoftverfejlesztő képzésére, ahol a webfejlesztés rejtelmes mélységeibe kapok
            betekintést.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
