main {
  margin-top: 50px;
  background: radial-gradient(rgba(228, 41, 0, 0.25), rgba(219, 227, 235, 0.1), rgba(2, 53, 43, 0.1));
  background-size: cover;
  color: black
}

main,
.content-list,
.content {
  padding: 40px;
}

li {
  font-size: 20px
}
